/*body {
background-color: lightblue;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style*/
.front_open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section_heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section_heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section_heading p{
font-size: 18px;
margin-bottom: 30px;
line-height: 30px;
color: #757575;
}
.logo h2{
font-size: 45px;
font-weight: 900;
}

.color_orange{
    color:#FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* display: flex; */
}

/*main style*/
header{
    background-color: #FFF8F3;
    background: url(../hero-dev-portfolio-resources/images/developer.png),url(../hero-dev-portfolio-resources/images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px ;
}
 
nav{
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner {
    /*border: 1px solid aqua;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20 px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
max-width: 585px;
vertical-align: middle;
}
#about , #resume{
    padding: 130px;
}
#about .about_container{
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about_container .about_info{
    display: flex;
    justify-content: space-between;
    padding: 30px 22.5px 0;
}
.about_info .about_info-card p{
font-size: 20px;
line-height: 30px;
color: #757575;
}
.about_info .about_info-card h4{
    font-size: 20px;
}

#skills{
    padding-top: 130px;
}
.skill_box{
    display: flex;
    gap: 24px;
    justify-content: center;
}
#skills .skills_container{
width: 66%;
max-width: 1140px;
margin: 0 auto;
}
#skills .skills_container .skill_box{
    display: flex;
    gap: 24px;
}
.skill_box .skill_card{
padding: 30px;
max-width: 267px;
box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill_card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill_card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 30px;
}
.skill_card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
#resume .resume_container{
width: 66%;
max-width: 1140px;
margin: 113px auto 0;
display: flex;
gap: 24px;
}
.resume_container hr{
    margin: 30px 0;
}
.resume_container .secton_title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume_card{
    max-width: 511px;
    margin-right: 47px;
}
.resume_card .card_title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume_card .card_info{
font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume_card .card_text{
font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.text_center{
    text-align: center;
}

 footer{
        margin-top: 130px;
        background-color:#FFF8F3;
        padding: 130px 0px ;
      }
      footer .footer-container{
        width: 71%;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        gap:116px;

      }
      .footer-container .social{
        max-width: 562px;
      }
      .footer-container h2{
            font-weight: bold;
            color:#181818;
            font-size: 35px;
      }
      .footer-container .social p{
        color: #474747;
        line-height: 28px; 
        margin-bottom: 30px;
      }
    .footer-container .icons a{
        margin-right:24px ;
    }
    .footer-container form input[type="text"] {
        width: 461px;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;  
        color: #757575;
    }
    .footer-container form input[type="email"] {
        width: 461px;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;  
        color: #757575;
    }
     .footer-container form textarea {
        width: 461px;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;  
        color: #757575;
    }
