/*body {
background-color: lightblue;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style*/
.front_open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
font-size: 45px;
font-weight: 900;
}

.color_orange{
    color:#FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*main style*/
header{
    background-color: #FFF8F3;
    background: url(../hero-dev-portfolio-resources/images/developer.png),url(../hero-dev-portfolio-resources/images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px ;
}
 
nav{
    width: 66%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner {
    /*border: 1px solid aqua;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20 px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image{
max-width: 585px;
vertical-align: middle;
}
